{
	"enable_syscalls": [
        "bpf$LDBF*",
        "bpf",
        "perf_event_open",
        "perf_event_open$cgroup",
        "open",
        "openat$cgroup",
        "openat$cgroup_root",
        "clone3",
        "openat$pidfd",
        "openat$thread_pidfd",
        "socket$inet_udp",
        "socket$inet_udplite",
        "socket$inet6_udp",
        "socket$inet6_udplite",
        "socket$inet_mptcp",
        "socket$inet_tcp",
        "socket$inet6_mptcp",
        "socket$inet6_tcp",
        "socket$inet",
		"bind$inet",
		"sendmsg$inet",
        "getpid",
        "read",
        "write",
        "close",
		"connect$inet",
        "setsockopt$sock_attach_bpf",
        "ioctl$sock_SIOCGIFINDEX"
	]
}
